.login__container {

.botao-voltar {
  position: absolute; 
  top: 30px; 
  left: 30px; 

  background: none;
  border: none;
  color: var(--text-escuro);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 500;

 
  &:hover {
    opacity: 0.7;
  }
}
}


  .login__success {
    color: #2ecc71;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .code-inputs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 20px 0;

    input {
      width: 45px;
      height: 45px;
      border: 2px solid black;
      border-radius: 8px;
      font-size: 22px;
      text-align: center;
      outline: none;
      transition: 0.2s ease-in-out;
      background-color: var(--branco);

      &:focus {
        border-color: #ff7a3b;
        box-shadow: 0 0 4px #f77433;
      }
    }
  }

 

